.download{
    &__title{
        font-weight: bold;
        font-size: 36px;
        line-height: 140%;
        color: #222222;
        margin-bottom: 10px;
    }
    &__desc{
        font-weight: normal;
        font-size: 20px;
        line-height: 150%;
        color: #222222;
        max-width: 700px;
        width: 100%;
        &-span{
            font-weight: bold;
        }
    }
    &__content{
        position: relative;
        margin-top: 50px;
        margin-bottom: 100px;
        background: #222222;
        padding: 50px 70px 60px 70px;
    }
    &__images{
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 30px;
        margin-bottom: 40px;
    }
    &__right{
        display: flex;
        flex-wrap: wrap;
        column-gap: 30px;
        row-gap: 20px;
        max-width: 500px;
        width: 100%;
    }
    &__infos{
        &-title{
            font-weight: bold;
            font-size: 20px;
            line-height: 150%;
            color: #FFFFFF;
            margin-bottom: 20px;
        }
        &-p{
            font-weight: normal;
            font-size: 14px;
            line-height: 150%;
            color: #FFFFFF;
        }
    }
    &__polygon{
        position: absolute;
        right: 0;
        bottom: -115px;
        max-width: 225px;
        width: 100%;
        height: 161px;
        background: #A81A47;
        border: 5px solid rgba(168, 26, 71, 0.5);
        box-shadow: 0px 2px 5px rgba(61, 0, 19, 0.15);
        clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
        display: flex;
        justify-content: center;
        align-items: center;
        &-p{
            font-weight: bold;
            font-size: 16px;
            line-height: 150%;
            text-align: center;
            color: #FFFFFF;
            max-width: 131px;
            width: 100%;
        }
    }
}