mixin adventages()
    .adventages.section 
        .adventages__body.container 
            h2.adventages__title Поможем организовать ценозависимое снижение потреблебления и выйти на Агрегатора спроса 
            .adventages__content 
                .adventages__item 
                    img(src="@img/adventages-icon.png", alt="").adventages-icon
                    p.adventages__p #[span.adventages__span Мы найдем пути для снижения потребления электроэнергии ] и предложим комплекс мер для оптимизации ваших затрат и получения прибыли от этих мероприятий 
                .adventages__item 
                    img(src="@img/adventages-icon.png", alt="").adventages-icon
                    p.adventages__p #[span.adventages__span Проанализируем, эффективно ли вы закупаете электроэнергию  ] на рынке, поможем оптимизировать ценовую категорию и понять, нет ли у вас излишне присоединенных мощностей
                .adventages__item 
                    img(src="@img/adventages-icon.png", alt="").adventages-icon
                    p.adventages__p Энергоаудит станет первым шагом к экономии и получению прибыли. Закажите его у нас и  #[span.adventages__span получите инструкцию по оптимальному подбору ценовой категории в подарок ]
            button(type='button' data-target="popup").open-popup.adventages__btn.btn Получить инструкцию 