mixin compare()
    .compare.section 
        .compare__body.container 
            h2.compare__title Посмотрите, как выглядят графики учета до и после установки АСТУЭ:
            .compare__content 
                .compare__item 
                    h3.compare__item-title #[span.compare__item-title-span Суммарный график] учета #[br] электрической энергии:
                    img(src="@img/compare__img.png", alt="").compare__img
                .compare__item 
                    h3.compare__item-title График учета электрической энергии #[br]
                        span.compare__item-title-span по каждому потребителю:
                    img(src="@img/compare__img.png", alt="").compare__img
            .compare__bottom 
                .compare__polygon 
                    p.compare__polygon-p Оборудование под любhые задачи
                .compare__info 
                    p.compare__p Компоненты системы могут быть установлены в любых производственных помещениях — в том числе с повышенным содержанием пыли и влаги, а также на открытом воздухе 