mixin download()
    .download.section 
        .download__body.container 
            h2.download__title Хотите установить у себя такую систему?
            p.download__desc #[span.download__desc-span Обратитесь к нам!] Мы уже внедрили АСТУЭ/АСКУЭ на ключевых объектах в различных отраслях промышленности
            .download__content 
                .swiper.mySwiper.enable-xl
                    .swiper-wrapper 
                        .swiper-slide 
                            img(src="@img/download-img_1.png", alt="")
                        .swiper-slide 
                            img(src="@img/download-img_1.png", alt="")
                        .swiper-slide 
                            img(src="@img/download-img_1.png", alt="")
                        .swiper-slide 
                            img(src="@img/download-img_1.png", alt="")
                        .swiper-slide 
                            img(src="@img/download-img_1.png", alt="")
                    .swiper-button-next 
                    .swiper-button-prev 
                .download__images.disable-xl 
                    .download__left
                        img(src="@img/download-img_1.png", alt="").download__img_large
                    .download__right 
                        img(src="@img/download-img_2.png", alt="").download__img_small
                        img(src="@img/download-img_3.png", alt="").download__img_small
                        img(src="@img/download-img_4.png", alt="").download__img_small
                        img(src="@img/download-img_5.png", alt="").download__img_small
                .download__infos 
                    h3.download__infos-title АСКУЭ для “Оборонэнерго”
                    p.download__infos-p Поставка 50 000 шт. 1-фазных и 3-фазных шкафов учета для воинских частей АО «ОборонЭнерго»
                .download__polygon 
                    p.download__polygon-p Мы готовы реализовать ваш проект!