mixin earn()
    .earn.section 
        .earn__body.container 
            h2.earn__title #[span.earn__title-span Хочется] не только экономить, но и #[span.earn__title-span зарабатывать? ]
            p.earn__desc Поможет система интервального коммерческого учета — АСКУЭ
            .earn__top
                .earn__content 
                    .earn__content-texts
                        h3.earn__content-title Если вы хотите экономить за счет оптимального выбора ценовой категории и зарабатывать нии потребления  
                        p.earn__content-p Вам потребуется АСКУЭ — система коммерческого учета электроэнергии с интервальным принципом фиксирования показаний
                    a(href="#!").earn__btn.btn Заказать энергоаудит
            .earn__bottom 
                h2.earn__bottom-title #[span.earn__title-span Хотите заработать] на снижении потребления?
                .earn__bottom-content 
                    .earn__item 
                        img(src="@img/earn-icon.png", alt="").earn__item-icon
                        p.earn__item-p до 700 тысяч рублей за мегаватт!
                    .earn__right 
                        p.earn__bottom-p #[span.earn__bottom-span Правильное управление нагрузкой] позволит получить экономический эффект 
                        p.earn__bottom-p #[span.earn__bottom-span Используя часы пиковой нагрузки (ЧПН)]  и отключение от сети по команде Системного Оператора, можно не только сэкономить на потреблении, но и зарабатывать на снижении потребления электроэнергии
                        p.earn__bottom-p Для получения описанных преимуществ необходимо иметь  #[span.earn__bottom-span инструмент интервального коммерческого учета — АСКУЭ ] 

            