mixin help()
    .help.section 
        .help__body.container 
            .help__left 
                h2.help__title Нет возможности сейчас отвечать на вопросы? 
                p.help__p Закажите обратный звонок и бесплатную консультацию руководителя направления  «Освещение»
            .help__right 
                button(type='button' data-target="popup").open-popup.help__btn.btn Заказать консультацию 