mixin intro()
    .intro.section
        .intro__body 
            .container 
                h1.intro__title Как снизить платежи за электроэнергию? Закажите АСТУЭ под ключ, контролируйте потребление и экономьте до 75 %!
            .intro__content 
                .container
                    .intro__item    
                        img(src="@img/intro-icon-1.png", alt="")
                        p.intro__item-p Удаленный сбор и хранение информации с приборов учета электроэнергии
                    .intro__item    
                        img(src="@img/intro-icon-2.png", alt="")
                        p.intro__item-p Удаленный сбор и хранение информации с приборов учета электроэнергии
                    .intro__item    
                        img(src="@img/intro-icon-3.png", alt="")
                        p.intro__item-p Удаленный сбор и хранение информации с приборов учета электроэнергии
                    .intro__item    
                        img(src="@img/intro-icon-4.png", alt="")
                        p.intro__item-p Удаленный сбор и хранение информации с приборов учета электроэнергии
            .intro__info.container 
                p.intro__info-p Закажите расчет стоимости проекта и получите инструкцию по оптимальному подбору ценовой категории в подарок!
                a(href="#!").intro__info-btn.btn Заказать расчет проекта