mixin offer()
    .offer.section 
        .offer__body.container 
            .offer__top 
                .offer__top-left 
                    h2.offer__title Запутались в многообразии автоматизированных систем?
                    p.offer__desc Есть выход — свести весь комплекс автоматизированных систем #[span.offer__desc-span в единый ситуационно-аналитический центр (САЦ)]
                .offer__top-right 
                    p.offer__top-p Мы готовы предложить вам:
                    ul.offer__top-list 
                        li.offer__top-li проектирование, разработку технической и конструкторской документации
                        li.offer__top-li сведение всех систем в единый ситуационно-аналитический центр и центр обработки данных
                        li.offer__top-li поставку электротехнического оборудования ведущих производителей и собственного производства по минимальным ценам 
                        li.offer__top-li электромонтаж оборудования на вашем объекте
            .offer__bottom  
                .offer__bottom-texts 
                    h3.offer__bottom-title САЦ поможет эффективно управлять всеми инженерными системами
                    p.offer__bottom-desc #[span.offer__bottom-span Закажите консультацию] и получите инструкцию по оптимальному подбору ценовой категории в подарок! 
                button(type='button' data-target="popup").open-popup.offer__btn.btn Получить консультацию 


