mixin opp()
    .opp.section 
        .opp__body.container 
            h2.opp__title.enable-lg Оцените возможности
            p.opp__desc.enable-lg автоматизированной системы коммерческого учета электроэнергии
            .opp__img 
                img(src="@img/opp-bg.svg", alt="")
            .opp__items
                .opp__item.opp__item_1
                    h3.opp__item-title.enable-lg Сбор показаний
                    p.opp__p Опрос всех видов счетчиков по расписанию или по необходимости
                .opp__item.opp__item_2
                    h3.opp__item-title.enable-lg Анализ данных
                    p.opp__p Балансы, одиночные и групповые отчеты за месяц
                .opp__item.opp__item_3
                    h3.opp__item-title.enable-lg Журнал событий
                    p.opp__p Возможность отключения абонентов
                .opp__item.opp__item_4
                    h3.opp__item-title.enable-lg Журнал событий
                    p.opp__p Отключение энергии, смена тарифных расписаний, прошивки, вскрытие клеммных крышек
                .opp__item.opp__item_5
                    h3.opp__item-title.enable-lg Журнал событий
                    p.opp__p Статистика опросв, доступности приборов, полнота полученных данных, проверка достоверности данных