mixin order()
    .order.section 
        .order__body.container 
            h2.order__title #[span.order__title-span Закажите АСТУЭ/АСКУЭ] у нас! 
            p.order__desc Сотрудничая с нами вы получите #[span.order__desc-span полный цикл инжиниринговых услуг]
            .order__content 
                p.order__item-p #[span.order__item-span Консалтинг, энергоаудит ] #[br] Анализ, оценка проекта,Подготовка ТЭО, ТД и КД Расчет бюджета, ТЗ 
                p.order__item-p #[span.order__item-span Сервисные услуги ] #[br] Обслуживание систем управления инженерными системами объекта (электроснабжения, автоматики), ремонт и модернизация
                p.order__item-p #[span.order__item-span Проектирование ] #[br] и автоматизация всех инженерных систем объекта
                p.order__item-p #[span.order__item-span Реализация проекта  ] #[br] Поставка оборудования, монтаж и шеф-монтаж, пуско-наладочные работы
            .order__infos   
                p.order__infos-desc Проект начинается с предпроектного обследования
                a(href="#!").order__btn.btn Заказать энергоаудит
                p.order__infos-p #[span.order__infos-span Вы получите]  подробную техническую консультацию и ответы на все интересующие вопросы. #[span.order__infos-span Мы рассмотрим] ваши дополнительные пожелания и согласуем все изменения в КП. На основе утвержденного КП мы #[span.order__infos-span заключим договор и приступим к реализации] проекта.