mixin partner()
    .partner.section 
        .partner__body.container 
            .partner__left 
                h2.partner__left-title Ваши выгоды от партнерства с нами
                .partner__texts 
                    span.partner__texts-span 15 лет
                    p.partner__texts-p Нас знают, как надежного российского поставщика электротехнической продукции и системных решений 
            .partner__right 
                .partner__item 
                    img(src="@img/partner-icon.png", alt="").partner__icon
                    p.partner__item-p #[span.partner__item-span Наилучшее соотношение цена-качество]  Мы — мультибрендовые дистрибьюторы ведущих зарубежных и отечественных компаний и подберем оптимальное решение под ваши ребования...
                .partner__item 
                    img(src="@img/partner-icon.png", alt="").partner__icon
                    p.partner__item-p #[span.partner__item-span Экономия на сборке, логистике и комплектации ]  за счет собственных цехов и складов...
                .partner__item 
                    img(src="@img/partner-icon.png", alt="").partner__icon
                    p.partner__item-p #[span.partner__item-span Выгода от выполнения комплексного проекта.]   Мы берем на себя весь цикл от разработки ТЭО домонтажа и ПНР, вы — экономите...