mixin system()
    .system.section 
        .system__body.container 
            h2.system__title 
                span.system__title-span Зачем вам автоматизированная система 
                | технологического учета — АСТУЭ?
            .system__content 
                .system__item 
                    .system__left 
                        h3.system__left-title Если у вас много энергопотребителей и огромные счета за электроэнергию
                        p.system__left-p Понимаете, что переплачиваете за электроэнергию, но не знаете с чего начать? 
                        p.system__left-desc Как правильно собрать в полном объеме данные с арендаторов? 
                        p.system__left-slogan Энергоаудит — первый шаг к экономии!
                        button(type='button' data-target="popup").open-popup.system__left-btn.btn Заказать энергоаудит
                    .system__right 
                        h3.system__right-title 
                            span.system__right-primary Вы сможете решить
                            | проблему с помощью АСТУЭ за 4 шага:
                        .system__right-item 
                            span.system__right-num 1
                            p.system__right-p 
                                span.system__right-span Увидеть, 
                                | кто сколько потребляет электроэнергии
                        .system__right-item 
                            span.system__right-num 2
                            p.system__right-p 
                                span.system__right-span Выявить, 
                                | где происходит превышение потребления
                        .system__right-item 
                            span.system__right-num 3
                            p.system__right-p 
                                span.system__right-span Проанализировать,
                                |  из-за чего оно возникает
                        .system__right-item 
                            span.system__right-num 4
                            p.system__right-p 
                                span.system__right-span Снизить потребление
                                |  с помощью энергосберегающих технологий 
                .system__item 
                    .system__left2 
                        h3.system__left2-title АСТУЭ поможет вам 
                            span.system__left2-span снизить себестоимость продукции:
                        .system__left2-item 
                            img(src="@img/system-icon-1.png", alt="").system__left2-img
                            p.system__left2-p 
                                span.system__left2-span Увидеть, 
                                | кто сколько потребляет электроэнергии
                        .system__left2-item 
                            img(src="@img/system-icon-2.png", alt="").system__left2-img
                            p.system__left2-p 
                                span.system__left2-span Выявить, 
                                | где происходит превышение потребления
                        .system__left2-item 
                            img(src="@img/system-icon-3.png", alt="").system__left2-img
                            p.system__left2-p 
                                span.system__left2-span Проанализировать,
                                | из-за чего оно возникает
                    .system__right2 
                        h3.system__right2-title Если нужно уменьшить затраты на  производство
                        .system__right2-texts 
                            p.system__right2-p Видите, что при одинаковой мощности цеха потребляют разное количество электроэнергии, но не можете выявить причину? Их может быть несколько! 
                            p.system__right2-info 
                                span.system__right2-info-p Мы определим узкие места и дадим рекомендации 
                                | по комплексу мер для оптимизации и экономии.
                        button(type='button' data-target="popup").open-popup.system__right2-btn.btn Получить консультацию
                        

