doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://unpkg.com/swiper/swiper-bundle.min.css")
        link(rel="stylesheet", href="css/style.min.css")
        title Document
    body 
        .wrapper 
            include components/header 
            +header 
            main.main
                include components/intro
                +intro
                include components/quiz
                +quiz 
                include components/system
                +system 
                include components/compare
                +compare 
                include components/earn 
                +earn 
                include components/adventages
                +adventages  
                include components/opp
                +opp 
                include components/download 
                +download 
                include components/order 
                +order 
                include components/partner
                +partner 
                include components/offer 
                +offer 
                include components/quiz 
                +quiz2 
                include components/help 
                +help 
                include components/popup 
                +popup 
            include components/footer 
            +footer 
        script(src="https://unpkg.com/imask") 
        script(src="https://unpkg.com/swiper/swiper-bundle.min.js")
        script(src="js/app.min.js")  